@using SportsBook.Models
@{ ViewData["Title"] = "NFL Games Slate Page"; }
@model List<GameSlate>

<h4>
    NFL 2021
</h4>

<p><b><font color="red">LIVE BETTING</font> Coming Soon...</b></p>

<!--
    @foreach (var gameSlate in Model) {
    <div class='media'>
        <div class='media-img'>
            <img class='db media-img-item' src='@gameSlate.StadiumImageBlobUri' width='300'>
        </div>
        <div class='media-content'>
            <p class='media-title'>Week @gameSlate.WeekNumber</p>
            @if (@gameSlate.IsFinal) {
                <p class='media-description'>
                    Final
                </p>
                <ul class='media-meta'>
                    @if (@gameSlate.HomeTeamScore > @gameSlate.AwayTeamScore) {
                        <li class='media-meta-item'>
                            @gameSlate.HomeTeamNickname <b>@gameSlate.HomeTeamScore</b>
                        </li>
                        <li class='media-meta-item'>
                            @gameSlate.AwayTeamNickname @gameSlate.AwayTeamScore
                        </li>
                    } else {
                        <li class='media-meta-item'>
                            @gameSlate.AwayTeamNickname <b>@gameSlate.AwayTeamScore</b>
                        </li>
                        <li class='media-meta-item'>
                            @gameSlate.HomeTeamNickname @gameSlate.HomeTeamScore
                        </li>
                    }
                </ul>
            } else {
            <p class='media-description'>
                @gameSlate.GameStartDateTime @gameSlate.StadiumName O/U @gameSlate.OverUnder
            </p>
            <ul class='media-meta'>
                <li class='media-meta-item'>
                    <a href="/wagers/create/@gameSlate.GameId">@gameSlate.AwayTeamSpread</a> @gameSlate.AwayTeamMoneyline
                    <span class='media-meta-label'>@gameSlate.AwayTeamFullName</span>
                </li>
                <li class='media-meta-item'>
                    @gameSlate.HomeTeamSpread @gameSlate.HomeTeamMoneyline
                    <span class='media-meta-label'>@gameSlate.HomeTeamFullName </span>
                </li>
            </ul>
            }
        </div>
    </div>

    }

-->
